#root {
    max-width: 1280px;
    margin: 0 auto;
    /* padding: 2rem; */
    text-align: center;
}

body {
    background-color: #f5f7fb;
    background-image: url("./assets/lowerblob.png");
    background-repeat: no-repeat no-repeat;
    background-position: left bottom;
}