@tailwind base;
@tailwind components;
@tailwind utilities;
body {
    display: flex;
    align-items: center;
    background: url("./assets/lowerblob.png"), url("./assets/upperblob.png");
    background-position: left bottom, right top;
    background-repeat: no-repeat;
    height: 100vh;
}

.shadows-into-light-regular {
    font-family: "Shadows Into Light", cursive;
    font-weight: 400;
    font-style: normal;
    color: #293264;
}

.karla {
    font-family: "Karla", sans-serif;
    font-optical-sizing: auto;
    /* font-weight: <weight>; */
    font-style: normal;
}

label,
select {
    color: #293264;
}

button:disabled {
    background-color: #7983b3;
    cursor: not-allowed;
}